.search-result {
    display: flex;
    max-width: 1100px;
    width: 100%;
}

.result-image {
    border-radius: 5px;
    width: 250px;
    height: 250px;
    margin-right: 1rem;
}

.business-info {
    min-width: 400px;
}

.contact-info {
    font-size: 0.8rem;
}

:global(.tag).business-tag {
    margin-right: 1rem;
}
