.navbar {
    display: flex;
    background: #fff;
    padding: 0.3rem 0;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

.logo {
    width: 50px;
}

:global(.button).nav-button {
    margin-left: 1rem;
}
