.navbar {
    display: flex;
    background: #c12020;
    padding: 0.3rem 0;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 50px;
    filter: invert(100%);
}

:global(.button).nav-button {
    margin-left: 1rem;
}
